@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1e1b4b, #6f42c1);
}

.btn-primary {
  --bs-btn-bg: #6f42c1;
  --bs-btn-border-color: #6f42c1;
  --bs-btn-hover-bg: #5a32a3;
  --bs-btn-hover-border-color: #5a32a3;
}